In [30]:
# import modules
import pandas as pd
import numpy as np
import os

In [31]:
# Make a reference to the budget_data.csv file path
budgetdata = "budget_data.csv"
# Import the budget_data.csv file as a DataFrame
df = pd.read_csv(budgetdata)
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [32]:
#total months in dataframe
months = df.shape[0]

In [33]:
#The net total amount of "Profit/Losses" over the entire period
pltotal = df['Profit/Losses'].sum()

In [34]:
#The average of the changes in "Profit/Losses" over the entire period
pl_ToList= list(df['Profit/Losses'])
a=np.diff(pl_ToList)
average=np.average(a)

In [35]:
#The greatest increase in profits (date and amount) over the entire period
#maximum=df['difference'].max()
max=np.amax(a)
max

1926159

In [36]:
#find index of max array element
maxitemindex = np.where(a==max)
maxitemindex

(array([24]),)

In [46]:
#find date corresponding to max array index
df2=df.iloc[[25]]
df2 
date = df2.drop(columns=['Profit/Losses'])
df2 = df2.drop(columns=['Profit/Losses'])
date=df2.to_string(header=None, index=False)
date

'Feb-2012'

In [38]:
#The greatest decrease in losses (date and amount) over the entire period
#minimum=df['difference'].min()
min=np.amin(a)
min

-2196167

In [39]:
#find index of min array element
minitemindex = np.where(a==min)
minitemindex

(array([43]),)

In [45]:
#find date corresponding to min array index
df3=df.iloc[[44]]
df3
df3 = df3.drop(columns=['Profit/Losses'])
date2=df3.to_string(header=None, index=False)
date2

'Sep-2013'

In [49]:
print("Financial Analysis")
print("--------------")
print(f"Total Months: {months}")
#Total: $38382578
print(f"Total: ${pltotal}")
print(f"Average Change: ${average}")
#Greatest Increase in Profits: Feb-2012 ($1926159)
print(f"Greatest Increase in Profits: {date} ${max}")
#Greatest Decrease in Profits: Sep-2013 ($-2196167)
print(f"Greatest Decrease in Profits: {date2} ${min}")

Financial Analysis
--------------
Total Months: 86
Total: $38382578
Average Change: $-2315.1176470588234
Greatest Increase in Profits: Feb-2012 $1926159
Greatest Decrease in Profits: Sep-2013 $-2196167