In [3]:
import pandas as pd

In [4]:
data_series = pd.Series(["UCLA","UC Berkeley","UC Irvine","University of Central Florida","Rutgers University"])

In [5]:
data_series

0                             UCLA
1                      UC Berkeley
2                        UC Irvine
3    University of Central Florida
4               Rutgers University
dtype: object

In [7]:
data_series[3]

'University of Central Florida'

In [9]:
#Data frames
df = pd.DataFrame({"Dynasty":["Early Dynastic Period", "Old Kingdom"],
                              "Pharoah":["Thinis","Memphis"]})

In [10]:
df

                 Dynasty  Pharoah
0  Early Dynastic Period   Thinis
1            Old Kingdom  Memphis

In [16]:
states_dicts=[{"STATES": "New Jersey",
               "Abbreviation": "NJ"},
              {"STATES": "New York",
               "Abbreviation": "NY"}]

df_states = pd.DataFrame(states.dict)

NameError: name 'states' is not defined