In [23]:
import pandas as pd
df = pd.DataFrame({"FRAME":["1","2","3","4","5"],"PRICE":[10,23,43,65,33],"SALES":[293,345,423,764,256]})

In [24]:
df

  FRAME  PRICE  SALES
0     1     10    293
1     2     23    345
2     3     43    423
3     4     65    764
4     5     33    256