In [ ]:
#Jake Thaker
#Homework 3

In [288]:
# import modules
import pandas as pd
import os

In [289]:
# Make a reference to the electrion_data.csv file path
elecdata = "election_data.csv"
# Import the budget_data.csv file as a DataFrame
df = pd.read_csv(elecdata)
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [290]:
#The total number of votes cast
votes = df.shape[0]
votes

3521001

In [299]:
#A complete list of candidates who received votes
#The total number of votes each candidate won
totals=df['Candidate'].value_counts()
df1 = pd.DataFrame(totals)

In [302]:
#The percentage of votes each candidate won
percents = df['Candidate'].value_counts(normalize=True)*100
percents=pd.DataFrame(percents)
percents['Candidate']=percents['Candidate'].map("{:,.2f}%".format)
percents['Candidate']=pd.DataFrame(percents)
percents['Candidate']

Khan        63.00%
Correy      20.00%
Li          14.00%
O'Tooley     3.00%
Name: Candidate, dtype: object

In [303]:
result=pd.concat([df1, percents['Candidate']], axis=1, sort=False)

In [304]:
#find winner
winner = df1.index.values[0]

In [305]:
print("Election Results")
print("-------------------------")
print(f"Total Votes: {votes}")
print("-------------------------")
print(result.to_string(header=False))
print("-------------------------")
print(f"Winner:  {winner}")

Election Results
-------------------------
Total Votes: 3521001
-------------------------
Khan      2218231  63.00%
Correy     704200  20.00%
Li         492940  14.00%
O'Tooley   105630   3.00%
-------------------------
Winner:  Khan