In [3]:
# import modules
import pandas as pd
import os

In [4]:
# Make a reference to the electrion_data.csv file path
elecdata = "election_data.csv"
# Import the budget_data.csv file as a DataFrame
df = pd.read_csv(elecdata)
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [5]:
#The total number of votes cast
votes = df.shape[0]
votes

3521001

In [6]:
#The percentage of votes each candidate won

In [9]:
#A complete list of candidates who received votes
#The total number of votes each candidate won
totals=df['Candidate'].value_counts()
totals

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [15]:
#find winner
list = [df.columns.values.tolist()] + totals.values.tolist()
list

[['Voter ID', 'County', 'Candidate'], 2218231, 704200, 492940, 105630]

In [ ]:

#Khan: 63.000% (2218231)
#Correy: 20.000% (704200)
#Li: 14.000% (492940)
#O'Tooley: 3.000% (105630)
#-------------------------
#Winner: Khan
#-------------------------

In [16]:
print("Election Results")
print("-------------------------")
print(f"Total Votes: {votes}")
print(totals)
#print("Winner: " winner)

Election Results
-------------------------
Total Votes: 3521001
Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64